[user]
	email = 15212085+PeRobin@users.noreply.github.com
	name = PeRobin
[alias]
	s = "status --short --branch"
	st = "status"
	br = "branch"
	co = "checkout"
	cm = "commit -m"
	ca = "commit --amend --no-edit"
	fp = "push --force-with-lease"
	p = "push"
	r = "rebase"
	rb = "!r() { git rebase -i HEAD~$1; }; r"
	rc = "rebase --continue"
	logs = log --oneline --graph --decorate --all
[pull]
	ff = only
[merge]
	ff = false
	conflictstyle = zdiff3
[color]
	status = "always"
	branch = auto
    diff = auto
    status = auto
    ui = true
    interactive = auto
    pager = true
[push]
	autoSetupRemote = true
	followTags = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
